.company-inf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10%;
}

.company-inf-item {
    width: 46%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px solid #b3b3b3;
    margin: 25px;
}

.company-inf-title {
    font-family: sans-serif;
    background: #efefef;
    padding: 10px;
    font-weight: 700;
    border-bottom: 1px solid #b3b3b3;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 100px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.total-company {
    display: flex;
    justify-content: center;
    height: 335px;
    align-items: center;
}

.count-wrap {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #72787a;
    border-radius: 50%;
    position: relative;
}

.count-company {
    position: absolute;
    font-size: 35px;
    font-weight: 700;
    font-family: sans-serif;
}

.list-company {
    margin: 20px 24px;
    width: 90%;
    height: 320px;
    overflow: hidden;
    overflow-y: scroll;
    white-space:nowrap;
    border: 1px solid #b3b3b3;
}

.list-company-hide {
    display: none;
}

.list-company-item {
    border-bottom: 1px solid #b3b3b3;
    padding: 10px 4px;
    font-family: sans-serif;
    font-size: 16px;
}

.list-company-item:hover {
    background: #e0dede;
    cursor: pointer;
}

.list-company::-webkit-scrollbar { 
    width: 20px; 
}

.list-company::-webkit-scrollbar-track-piece {
    border-left: 1px solid #b3b3b3;
}

.list-company::-webkit-scrollbar-thumb {
    background: #e0dede;
    border: 1px solid #72787a;
    border-radius: 10px;
}

.list-company::-webkit-scrollbar-button {
    background-color: #b3b3b3;
    border: 1px solid #72787a;
}

.company-location {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 335px;
}

.pie-wrap {
    height: 325px;
    width: 300px;
}

.container-style {
    width: 100%;
    height: 100%;
}

.news {
    display: flex;
    margin: 10px;
    font-family: sans-serif;
}

.news-item1 {
    width: 50%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.news-item1 img {
    width: 100%;
    height: 64%;
}

.public-wrap {
    margin-top: 10px;
}

.news-item2 {
    width: 50%;
}

.public-inf {
    font-weight: 600;
    font-style: italic;
}

.public-inf span {
    margin-left: 5px;
    font-weight: 200;
    font-style: normal;
}


.news-title {
    font-weight: 600;
    text-decoration: none;
    color: #111111;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider-item {
  flex: 0 0 100%;
  max-width: 100%;
}

.slider-item-style {
 width: 100%;
 height: 340px;
}

.slider-control {
  position: absolute;
  bottom: 0;
  font-size: 25px;
  color: #827979;
}

.hide-slider-control {
    display: none;
}

.slider-control:hover {
    cursor: pointer;
    color: #111111;
}

.slider-control-left {
  left: 40%;
}

.slider-control-right {
  right: 40%;
}

.company-partners {
    width: 95%;
    height: 500px;
    border: 1px solid #b3b3b3;
    margin: 25px;
    overflow: hidden;
    overflow-x: scroll;
    white-space:nowrap;
    border: 1px solid #b3b3b3;
    position: relative;
    display: none;
}

.company-partners-show {
    display: block;
}

.company-partner-inf {
    font-family: sans-serif;
    background: #efefef;
    padding: 10px;
    font-weight: 700;
    border-bottom: 1px solid #b3b3b3;
    display: flex;
    justify-content: space-between;
}

.news-sort span {
    margin: 10px;
    cursor: pointer;
}

.sort-name {
    font-weight: 100;
}

.company-partners-item-wrap {
    display: flex;
    align-items: flex-end;
    height: 450px;
}

.company-partners-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #72787a;
    width: 100px;
    height: 280px;
    bottom: 0;
    margin: 0 20px;
    border-bottom: 0;
}  

.partner-name {
    transform: rotate(-90deg);
    font-family: sans-serif;
    font-size: 30px;
    top: 110px;
    left: -30px;
}

.vertical-line { 
    position: absolute;
    width: 10px;
    height: 70px;
    border: 1px solid #72787a;
    top: -70px;
    left: 45px;
    border-bottom: 0;
    border-top: 0;
}

.circle-percent {
    position: absolute;
    width: 70px;
    height: 70px;
    border: 1px solid #72787a;
    border-radius: 50%;
    left: -30px;
    top: -70px;
}

.circle-percent p {
    position: absolute;
    left: 18px;
    top: 22px;
    font-size: 24px;
}

.company-partners::-webkit-scrollbar { 
    width: 20px; 
}

.company-partners::-webkit-scrollbar-track-piece {
    border-top: 1px solid #b3b3b3;
}

.company-partners::-webkit-scrollbar-thumb {
    background: #e0dede;
    border: 1px solid #72787a;
    border-radius: 5px;
}

.company-partners::-webkit-scrollbar-button {
    background-color: #b3b3b3;
    border: 1px solid #72787a;
}

/* media queries */
@media screen and (max-width:800px){
    .company-inf-item {
        width: 90%;
    }

    .company-inf {
        margin: 0;
    }

}
