.sign-up-wrap {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #c9d0d0;
    width: 500px;
    border-radius: 5px;
    align-items: center;
}

.sign-up-title {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 30px;
}

.sign-up-form-item {
    position: relative;
    margin: 10px 0 25px;
}

.form-input {
    padding: 10px 45px 11px;
    width: 350px;
    outline: none;
}

.input-icon {
    position: absolute;
    position: absolute;
    top: 1px;
    left: 1px;
    background: #e9f3f3;
    padding: 11px;
    border-right: 1px solid #c9d0d0;
}

.select-gender {
    padding: 10px;
    width: 445px;
    outline: none;
    color: #72787a;
}

.sign-up-check {
    display: flex;
    align-items: center;
    width: 445px;
}

.sign-up-check label {
    color: #72787a;
    font-size: 14px;
    font-family: sans-serif;
    cursor: pointer;
} 

.check-agree {
     -webkit-appearance: none;
     display: inline-block;
     position: relative;
     height: 20px;
     width: 20px;
     border: 1px solid #d1d1d1;;
     cursor: pointer;     
     outline: none;
     margin: 0 20px 0 0;
}

.check-agree:checked::before {
     position: absolute;
     content: '\2713';
     font-size: 15px;
     font-weight: 800;
     bottom: 0;
     left: 3px;
     
}

.sign-up-send {
    border: 1px solid #c9d0d0;
    border-radius: 3px;
    background: #e9f3f3;
    padding: 10px 25px;
    color: #757575;
    align-self: flex-end;
    margin: 0 28px 30px;  
    outline: none;
}

.sign-up-send a {
    text-decoration: none;
    color: #72787a;
}

.sign-up-send:hover {
    cursor: pointer;
    background: #badee2;
}

.error-message {
    color: red;
    font-family: sans-serif;
    font-size: 12px;
}

/* media query */
@media screen and (max-width:520px){
    .form-input {
        width: 50vw;
    }

    .sign-up-form {
        width: 90vw;
    }

    .select-gender {
        width: 68vw;
    }

    .sign-up-check {
        width: 68vw;
    }
}
